<body>
<div class="row">
  <div class="large-3 columns">
    <h1>BeerBank</h1>
  </div>
</div>

<div class="row">
  <div class="large-12 columns">
    <div id="slider">
      <a href="#">
        <img src="../images/beerbank-homepage.jpg">
      </a>
    </div>
    <hr/>
  </div>
</div>

<div class="row">
  <div class="large-3 large-centered columns">
    <ul class="button-group even-3">
      <a href="#" class="button">Log in with Twitter</a>
    </ul>
  </div>
</div>

<footer class="row">
  <div class="large-12 columns">
    <hr/>
    <div class="row">
      <div class="large-6 columns">
        <p>© Copyright Creative License, LLC 2015</p>
      </div>
    </div>
  </div>
</footer>
</body>
