// larger screen styles
.beers_background {
  background: asset-data-url("beerBackground-5.jpg") no-repeat center center;
  background-size: cover;
  height: 95vh;
  overflow: hidden;
  .button {
    color: white;
  }
}

.list-page {
  background: asset-data-url("beerbank-repeat-1.jpg") no-repeat center center;
  background-size: cover;
}

.has-form {
  position: absolute;
  top: 0;
  left: 6rem; // adjust distance from left here
  min-width: 14rem; // adjust width here

  @media only screen and (max-width: 40em) {
    min-width: 10rem;
    top: 0.5rem;
  }
}

@media only screen and (min-width: 40em) {

  .top-bar {
    text-align: center;
  }

  ul.center-buttons {
    display: inline-block;
  }
}

// some mobile resets

.top-bar.expanded {
  background: #333333;
}

$gradient: linear-gradient(45deg, white, yellow);
$gradient2: linear-gradient(45deg, orange, red);

.button {
  color: white;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border: 4px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  background: $gradient;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    border-image: $gradient2;
    background: $gradient2;
  }
}

.smallbox {
  max-width: 100px;
}

.edit-label {
  color: white;
}

.bubble {
  position: relative;
  width: 100px;
  height: 130px;
  text-align: center;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 10px;
  padding-right: 10px;
  line-height: 40px;
  background-color: lightyellow;
  border: 5px solid darkslategray;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 2px 4px #888;
  -moz-box-shadow: 2px 2px 4px #888;
  box-shadow: 2px 2px 4px #888;
}
