@mixin vertical-align {
  position: relative;
  top: 45%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.hero {
  background: asset-data-url("beerbankwelcome-4.jpg") no-repeat center center;
  background-size: cover;
  height: 85vh;
  overflow: hidden;
  h1 {
    color: #fff;
    text-align: center;
    @include vertical-align;
  }
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 3rem;
  p {
    &.slogan {
      color: #8d9093;
      font-size: 1.8rem;
      margin: 0 0 1rem;
    }
    &.copywrite {
      color: #8f9296;
      font-size: 0.875rem;
      margin: 0;
    }
  }
}

$gradient: linear-gradient(45deg, white, yellow);
$gradient2: linear-gradient(45deg, orange, red);

.button {
  color: transparent;
  font-size: 1.5rem;
  letter-spacing: 3px;
  border: 4px solid transparent;
  border-image: $gradient;
  border-image-slice: 1;
  background: $gradient;
  -webkit-background-clip: text;
  text-fill-color: transparent;
  transition: all 0.2s ease;

  &:hover {
    border-image: $gradient2;
    background: $gradient2;
  }
}

